<%- include("partials/header.ejs") %>
    <div class="background">
        <div class="layer">
            <div class="container">
                <h1>FreeMET</h1>

                <form id="myForm" method="post">
                    <input id="random" type="submit" value="Random" formaction="/random">
                    <input id="filter" type="submit" value="Filter">
                </form>
            </div>
        </div>
    </div>
    <%- include("partials/footer.ejs")%>